*{
    padding:0;
    margin:0;
}
body{
    background: #A7754D;
    text-align:center;
}
h1{
    color:#1E2328;
    
    font-size:9vmin;
}

.container{
   height:70vh;
   display:flex;
   align-items:center;
   justify-content:center;
   
   
}
.game{
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap:wrap;
   align-items:center;
   justify-content:center;
   gap:1.5vmin;


}
.box{
    height:18vmin;
    width:18vmin;
    border:none;
    border-radius:1rem;
    box-shadow: 0 0 1rem rgba(0 0 1);
    font-size:10vmin;
    text-align:center;
    color:#603E0C;
    background-color: aliceblue;
}
#reset-btn{
    padding:1rem;
    border-radius:1rem;
    transition:transform 0.3s ease,box-shadow 0.3s ease;
    font-size:3vmin;
    color:white;
    background-color: #1E2328;

}
#reset-btn:hover{
 transform:translate(-5px) scale(1.08);
 box-shadow:0 10px 16px rgba(0 0 1);
}
#msg{
    font-size:9vmin;
    color:#1E2328;
}
.msg-container{
    margin-top:20px;
    height:100vmin;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#new-btn{
    margin-top:30px;
    padding:1rem;
    border-radius:1rem;
    transition:transform 0.3s ease,box-shadow 0.3s ease;
    font-size:3vmin;
    color:white;
    background-color: #1E2328;

}
#new-btn:hover{
 transform:translate(-5px) scale(1.08);
 box-shadow:0 10px 16px rgba(0 0 1);
}
.hide{
    display:none;
}
